.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__title {
  display: flex;
  flex-direction: column;
  max-width: 709px;
  margin-top: 183px;
  margin-left: 80px;
  margin-bottom: 0px;
}

.header__spam-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2d80ed;
}

.header__span-subtitle {
  font-family: "inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__description {
  display: flex;
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;

  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  display: flex;
}

.header__footer {
  margin-top: auto;
  margin-left: 80px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

  margin-right: 80px;
  margin-bottom: 40px;
  align-items: end;
}

.header__paragraph {
  margin: 0;
  padding: 0;

  font-family: "inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
